<div class="w3-row w3-col w3-container bg-dark "> 
  <h4 class="w3-col l10 m10 s10 text-warning ">{{address}}</h4>
  <i class="w3-col l2 m2 s2 fa fa-2x fa-location-dot mt-3 text-center text-warning"></i>
  <!-- <p class=" w3-col">{{distance}}</p> -->

</div>

<div
  [classList]="
    'w3-row w3-col panel bg-dark h-auto border-top border-warning'
  "
>
  <div class=" w3-row w3-col ">
    
    <div class="d-flex justify-content-center mt-4 ">
      <button
    type="button"
    class="w3-col btn btn-lg text-secondary align-items-center d-flex btn-block "
  >
    <label class=" m-0 p-0 w3-xlarge">Guardar Destino</label>
    <i class="p-3 fa fa-flag fa-2x"></i>
  </button>

  <button
    type="button"
    class="w3-col btn btn-lg text-warning align-items-center d-flex btn-block "
    (click)="reloadWithParams()"
  >
    <label class="m-0 p-0 w3-xlarge">Nuevo Viaje</label>
    <i class="p-3 fa fa-route fa-2x"></i>
  </button>

    </div>
  </div>
</div>
