<mat-card
  class="_form-traveler-request set-height-100 w3-row w3-col w3-container text-white"
>
  <mat-card-header class="w3-row w3-col">
    <div class="w3-row w3-col l10 m10 s10 _center-h-sb">
      <h3>{{ title_page }}</h3>
    </div>

    <div class="w3-col l2 m2 s2 _center-h">
      <button (click)="goToMap()" class="btn border-0 text-white">
        <i class="fa fa-2x fa-close"></i>
      </button>
    </div>
  </mat-card-header>

  <!-- Mapa con la ruta origen destino -->
  @if(showMap){

  <div class="w3-row w3-col set-height-30">
    <app-p-map-route
      [userData]="userData"
      [coord]="coord"
      [coord_destination]="coord_destination"
      [width]="'100%'"
      [height]="'30vh'"
    ></app-p-map-route>
  </div>

  }@else {

  <div class="w3-row w3-col pt-5 set-height-30 border-bottom border-secondary">
    <p class="text-danger fw-bold text-uppercase text-center">
      No se ha seleccionado una ruta válida.
    </p>
    <i class="fa fa-2x fa-map-location w-100 text-center"></i>
  </div>

  }

  <mat-card-content class="w3-row w3-col d-flex _center-h-sb">
    <!-- Inputs y Forms -->
    <form
      class="w3-row w3-col l8 m8 set-height-s-60 align-content-between"
      [formGroup]="form_request"
      (ngSubmit)="onSubmit()"
    >
      <div class="w3-row w3-col m-auto">
        <div class="w3-col d-flex">
          <h6>Ruta</h6>
        </div>
        <!-- -------------- -->
        <!-- Lugar origen del viajero -->
        <!-- -------------- -->
        <div
          class="w3-row w3-col form-control bg-transparent text-white border-0 border-bottom border-secondary mb-1"
        >
          <input
            formControlName="placeOrigin"
            hidden
            type="text"
            class="form-control"
            name="placeOrigin"
            id="placeOrigin"
            placeholder="Lugar de origen "
            [class.is-invalid]="f.placeOrigin.invalid && f.placeOrigin.touched"
          />
          <label
            class="w3-col"
            for="placeOrigin"
            title="Ruta de origen del viaje "
          >
            <i class="fa fa-dot-circle text-primary me-1 w3-left"></i>
            Desde</label
          >

          @if(f.placeOrigin.invalid && (f.placeOrigin.dirty ||
          f.placeOrigin.touched) ){ @if(f.placeOrigin.errors?.['required'] ){
          <div [classList]="'text-danger'">Origen is required.</div>
          } @if(f.placeOrigin.errors?.['minlength']){ } }

          <p
            [class]="address_coord == '' ? 'text-danger ' : '' + ' w3-col '"
          >
            {{ address_coord !== "" ? address_coord : "Definir su ubicación" }}
            <i class="fa fa-map-location w3-right"></i>
          </p>
        </div>

        <!-- -------------- -->
        <!-- Lugar destino del viajero -->
        <!-- -------------- -->
        <div
          class="w3-row w3-col form-control bg-transparent text-white border-0 border-bottom border-secondary mb-1"
        >
          <input
            formControlName="placeDestination"
            type="text"
            class="form-control"
            name="placeDestination"
            id="placeDestination"
            placeholder="Lugar de destino "
            hidden
            [value]="coord_destination[0] + ',' + coord_destination[1]"
            [class.is-invalid]="
              f.placeDestination.invalid && f.placeDestination.touched
            "
          />
          <label
            (click)="showFooter()"
            class="w3-col"
            for="placeDestination"
            title="Ruta de destino del viaje "
          >
            <i class="fa fa-dot-circle text-danger me-1 w3-left"></i>
            Hasta</label
          >

          @if(f.placeDestination.invalid && (f.placeDestination.dirty ||
          f.placeDestination.touched) ){
          @if(f.placeDestination.errors?.['coordInvalid'] ){
          <div [classList]="'text-danger'">Destino is invalid.</div>
          } @if(f.placeDestination.errors?.['required'] ){
          <div [classList]="'text-danger'">Destino is required.</div>
          } @if(f.placeDestination.errors?.['minlength']){

          <div [classList]="'text-danger'">
            Destino min-required length: 3 | actual lenght:
            {{ f.placeDestination.value.length }}
          </div>
          } }

          <p
            (click)="showFooter()"
            [class]="address_coord_destination == '' ? 'text-danger ' : '' + ' w3-col '
            "
          >
            {{
              address_coord_destination !== ""
                ? address_coord_destination
                : "Definir destino"
            }}
            @if(address_coord_destination == ''){
            <i class="fa fa-pen-alt w3-right text-dark"></i>}
          </p>
        </div>

        <!-- -------------- -->
        <!-- TODO cantidad de personas -->
        <!-- -------------- -->
        <div class="w3-col pt-1">
          <p class="border-top border-secondary">Cantidad de personas (*)</p>

          <input
            type="number"
            name="personNumber"
            min="1"
            formControlName="personNumber"
            class="form-control"
            required
            [value]="personNumber"
            [hidden]="!showHiddenInput"
            [class.is-invalid]="
              f.personNumber.invalid && f.personNumber.touched
            "
          />

          <div class="w3-row w3-col d-flex overflow-x-auto">
            <!-- Tipo 1 personas-->
            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                type="radio"
                value="1"
                id="p-1"
                name="numberPerson_"
                class="custom-control-input"
                checked
                required
                (change)="handleRadioChange($event)"
              />
              <span class="custom-control-indicator"></span>
              <label for="p-1" class="custom-control-description btn w-100">
                1
              </label>
            </div>

            <!-- Tipo 2 personas-->
            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                type="radio"
                value="2"
                id="p-2"
                name="numberPerson_"
                class="custom-control-input"
                required
                (change)="handleRadioChange($event)"
              />
              <span class="custom-control-indicator"></span>
              <label for="p-2" class="custom-control-description btn w-100">
                2
              </label>
            </div>

            <!-- Tipo 3 personas -->
            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                type="radio"
                value="3"
                id="p-3"
                name="numberPerson_"
                class="custom-control-input"
                required
                (change)="handleRadioChange($event)"
              />
              <span class="custom-control-indicator"></span>
              <label for="p-3" class="custom-control-description btn w-100">
                3
              </label>
            </div>

            <!-- Tipo 4 personas -->
            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                type="radio"
                value="4"
                id="p-4"
                name="numberPerson_"
                class="custom-control-input"
                required
                (change)="handleRadioChange($event)"
              />
              <span class="custom-control-indicator"></span>
              <label for="p-4" class="custom-control-description btn w-100">
                4
              </label>
            </div>

            <!-- Tipo otra cant personas -->
            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                type="radio"
                value="n"
                id="p-n"
                name="numberPerson_"
                class="custom-control-input"
                required
                (change)="handleRadioChange($event)"
              />
              <span class="custom-control-indicator"></span>
              <label
                for="p-n"
                class="custom-control-description btn btn-sm w-100"
              >
                otra cantidad
              </label>
            </div>

            <!--  -->
          </div>
        </div>

        <!-- -------------- -->
        <!-- TODO Indicador de Tipo de Conductor -->
        <!-- -------------- -->
        <!-- 
        <div class="w3-col border-bottom border-secondary pt-1">
          <p class="border-top border-secondary">Tipo de Conductor (*)</p>

          <div class="w3-row w3-col d-flex overflow-x-auto">
            
            <div
              class="custom-control custom-radio ml-2 w3-col m6 s6 _center-h"
            >
              <input
                formControlName="vehicleType"
                type="checkbox"
                name="vehicleType"
                value="motorcycle"
                id="motorcycle"
                class="custom-control-input"
                [checked]="checkAllvehicleType"
              />
              <span class="custom-control-indicator"></span>
              <label
                for="motorcycle"
                class="custom-control-description btn w-100"
              >
                <i class="fa fa-motorcycle fa-2 text-secondary"></i>
              </label>
            </div>

            

            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                formControlName="vehicleType"
                type="checkbox"
                name="vehicleType"
                value="car"
                id="car"
                class="custom-control-input"
                [checked]="checkAllvehicleType"
              />
              <span class="custom-control-indicator"></span>
              <label for="car" class="custom-control-description btn w-100">
                <i class="fa fa-car fa-2 text-secondary"></i>
              </label>
            </div>
 
            <div
              class="custom-control custom-radio ml-2 w3-col m6 s6 _center-h"
            >
              <input
                formControlName="vehicleType"
                type="checkbox"
                name="vehicleType"
                value="truck"
                id="truck"
                class="custom-control-input"
                [checked]="checkAllvehicleType"
              />
              <span class="custom-control-indicator"></span>
              <label for="truck" class="custom-control-description btn w-100">
                <i class="fa fa-truck fa-2 text-secondary"></i>
              </label>
            </div>
 
            <div
              class="custom-control custom-radio ml-2 w3-col m6 s6 _center-h"
            >
              <input
                formControlName="vehicleType"
                type="checkbox"
                name="vehicleType"
                value="van"
                id="van"
                class="custom-control-input"
                [checked]="checkAllvehicleType"
              />
              <span class="custom-control-indicator"></span>
              <label for="van" class="custom-control-description btn w-100">
                <i class="fa fa-van-shuttle fa-2 text-secondary"></i>
              </label>
            </div>
 
            <div
              class="custom-control custom-radio ml-2 w3-col m6 s6 _center-h"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                id="other"
                (change)="checkedAllvehicleType()"
              /> 
              <label
                for="other"
                class="custom-control-description btn w-100 text-uppercase text-white"
              >
                Todos
              </label>
            </div>
          </div>
        </div> -->

        <!-- -------------- -->
        <!-- TODO Tiempo Máximo de Espera del viajero -->
        <!-- -------------- -->
        <div class="w3-col border-bottom border-secondary pt-1">
          <p class="border-top border-secondary">Tiempo máximo de espera (*)</p>

          <div class="w3-row w3-col d-flex overflow-x-auto">
            <!-- Tipo 15 minutos -->
            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                formControlName="maxTimeWaiting"
                type="radio"
                name="maxTimeWaiting"
                value="15"
                id="h-15"
                class="custom-control-input"
                required
              />
              <span class="custom-control-indicator"></span>
              <label for="h-15" class="custom-control-description btn w-100">
                15 minutos
              </label>
            </div>

            <!-- Tipo 30 minutos -->
            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                formControlName="maxTimeWaiting"
                type="radio"
                name="maxTimeWaiting"
                value="30"
                id="h-30"
                class="custom-control-input"
                required
              />
              <span class="custom-control-indicator"></span>
              <label for="h-30" class="custom-control-description btn w-100">
                30 minutos
              </label>
            </div>

            <!-- Tipo 1 hora -->
            <div
              class="custom-control custom-radio mb-0 w3-col m6 s6 _center-h"
            >
              <input
                formControlName="maxTimeWaiting"
                type="radio"
                name="maxTimeWaiting"
                value="60"
                id="h-60"
                class="custom-control-input"
                required
              />
              <span class="custom-control-indicator"></span>
              <label for="h-60" class="custom-control-description btn w-100">
                1 hora
              </label>
            </div>

            <!--  -->
          </div>
        </div>

        <!-- -------------- -->
        <!-- TODO preferencias del viajero -->
        <!-- -------------- -->
        <div class="w3-row w3-col form-floating mb-3 mt-3 w3-section">
          <textarea
            formControlName="travelPeferences"
            rows="3"
            class="form-control h-auto bg-transparent text-white w-100"
            name="travelPeferences"
            id="travelPeferences"
            placeholder="Preferencias del viajero "
            [class.is-invalid]="
              f.travelPeferences.invalid && f.travelPeferences.touched
            "
          ></textarea>
          <label class="text-secondary" for="travelPeferences"
            >Preferencias:</label
          >

          @if(f.travelPeferences.invalid && (f.travelPeferences.dirty ||
          f.travelPeferences.touched) ){
          @if(f.travelPeferences.errors?.['required'] ){
          <div [classList]="'text-danger'">Preferencias is required.</div>
          } @if(f.travelPeferences.errors?.['minlength']){

          <div [classList]="'text-danger'">
            Preferencias min-required length: 3 | actual lenght:
            {{ f.travelPeferences.value.length }}
          </div>
          } }
        </div>

        <mat-card class="w3-row w3-col bg-dark bg-opacity-75">
          <mat-card-content class="w3-row w3-col">
            <i class="fa fa-warning text-warning"></i>
            "Por favor revise cuidadosamente los detalles de su solicitud de
            viaje para evitar posibles errores."</mat-card-content
          >
        </mat-card>

        <!-- -------------- -->
        <!-- TODO Botones -->
        <!-- -------------- -->

        <mat-card-actions class="_center-h">
          <button (click)="f_rotate_btn('icon-submit')" class="btn btn-warning rounded-5" type="submit">
            Publicar Oferta <i class="icon-submit fa fa-paper-plane ps-2"></i>
          </button>
        </mat-card-actions>

        <div class="w3-row w3-col w3-section _center-h"></div>
      </div>
    </form>
  </mat-card-content>

  <!-- TODO -->
  <!-- Footer -->
  <!--  -->
</mat-card>

@if(footerDisplayed){

<app-footer-page
class="z-index-1031"
  (panelDisplayed)="showFooter()"
  (placeSelected)="selectPlace($event)"
  [methodToShowFooter]="methodToShowFooter"
  [address]="address"
  [coord]="coord"
  [coord_destination]="coord_destination"
  [userData]="userData"
  [favoriteMarkers]="favoriteMarkers"
></app-footer-page>

}
