<section class="w3-row w3-col w3-container text-white mt-10">
  <div class="w3-row w3-col _center-h-sb">
    <h1 class="fw-bold">LINKI</h1>
  </div>
  <div class="w3-row w3-col _center-h-sb">
    <h3 class="text-warning fw-bold">{{ title_page }}</h3>
  </div>
  <div class="w3-row w3-col d-flex _center-h-sb">
    <!-- Inputs y Forms -->
    <form
      class="w3-row w3-col l8 m8 set-height-s-50 d-flex align-content-between p-3 rounded-5 text-dark"
      [formGroup]="form_login"
      (ngSubmit)="onSubmit()"
    >
      <div class="w3-row w3-col m-auto">
        <!-- -------------- -->
        <!-- Tipo de Usuario -->
        <!-- -------------- -->
        <div class="w3-row w3-col _center-h bg-white rounded-top-4">
          <div class="w3-col s6 custom-control custom-radio rounded-top-4">
            <input
              formControlName="user_type"
              type="radio"
              id="traveler"
              name="user_type"
              value="traveler"
              class="custom-control-input"
            />
            <span class="custom-control-indicator d-none"></span>
            <label
              for="traveler"
              class="btn border-0 text-uppercase fw-bold _center-h custom-control-description w-100"
              ><i class="w3-section fa fa-person fa-2x pe-1"></i> Viajero</label
            >
          </div>
          <div class="w3-col s6 custom-control custom-radio rounded-top-4">
            <input
              formControlName="user_type"
              type="radio"
              id="driver"
              name="user_type"
              value="driver"
              class="custom-control-input"
            />
            <span class="custom-control-indicator d-none"></span>
            <label
              for="driver"
              class="btn border-0 text-uppercase fw-bold _center-h custom-control-description w-100"
              ><i class="w3-section fa fa-car-alt fa-2x pe-1"></i>
              Conductor</label
            >
          </div>
        </div>

        <div
          class="w3-col w3-row w3-container rounded-bottom-5 text-dark bg-warning"
        >
          <!-- -------------- -->
          <!-- User -->
          <!-- -------------- -->

          <div class="w3-row w3-col form-floating mb-3 mt-3 w3-section">
            <input
              formControlName="user_name"
              type="text"
              class="form-control"
              name="user_name"
              id="user_name"
              placeholder="Su nombre "
              type="text"
              [class.is-invalid]="f.user_name.invalid && f.user_name.touched"
            />
            <label for="user_name">Correo</label>

            @if(f.user_name.invalid && (f.user_name.dirty ||
            f.user_name.touched) ){ @if(f.user_name.errors?.['required'] ){
            <div [classList]="'text-danger'">User Name is required.</div>
            } @if(f.user_name.errors?.['minlength']){

            <div [classList]="'text-danger'">
              User Name min-required length: 3 | actual lenght:
              {{ f.user_name.value.length }}
            </div>
            } }
          </div>

          <!-- -------------- -->
          <!-- Password -->
          <!-- -------------- -->

          <div class="w3-row w3-col form-floating mb-3 mt-3 w3-section">
            <input
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              class="form-control w3-col l10 m10 s10"
              id="password"
              placeholder="Enter password"
              [class.is-invalid]="f.password.invalid && f.password.touched"
            />
            <label for="password">Contraseña</label>

            <div
              [classList]="'w3-col l2 m2 s2 btn p-3 '"
              [attr.aria-pressed]="hide"
              (click)="hide = !hide"
            >
              <i
                
                [class]="hide ? 'fa fa-eye' : 'fa fa-eye-slash'"
              ></i>
            </div>

            @if(f.password.invalid && (f.password.dirty || f.password.touched)
            ){ @if(f.password.errors?.['required'] ){
            <div [classList]="'text-danger'">Contraseña is required.</div>
            } @if(f.password.errors?.['minlength']){

            <div [classList]="'text-danger'">
              Contraseña min-required length: 6 | actual lenght:
              {{ f.password.value.length }}
            </div>
            } }
          </div>

          <!-- -------------- -->
          <!-- Botones -->
          <!-- -------------- -->
          <div class="w3-row w3-col _center-h mb-3">
            <button
              class="w3-col l4 m4 s4 btn btn-dark float-end"
              type="submit"
            >
              Iniciar
            </button>
          </div>
  
        </div>
      </div>
    </form>
  </div>
  <div class="w3-row w3-col w3-section">
    <button class="w3-col l4 m4 btn text-warning me-1 float-end">
      <a routerLinkActive="router-link-active"> ¿Olvidaste tu contraseña?</a>
    </button>

    <button class="w3-col l4 m4 btn border-warning me-1 float-start text-white">
      <a (click)="goToSignUp()" routerLinkActive="router-link-active">
        <i class="fa fa-user-circle"></i> No tienes cuenta?
        <span class="text-warning"> Regístrate</span></a
      >
    </button>

    <div class="w3-row w3-col me-1 float-start text-white pt-2">
       
      <div class="w3-row w3-col _center-h">
        <span id="btn_LoginGoogle" class="text-white fw-bold"
        >Google
      </span>
      </div>
 
    </div>
  </div>
</section>
