
#btn_centerPosition{
    bottom: 100px;
    right: 4vh;
    z-index: 1;
  }
  
  #btn_clearMarkers{
    bottom: 54px;
    right: 4vh;
    z-index: 1;
  }

  #btn_menu{
    bottom: 10px;
    right: 4vh;
    z-index: 1031;
  }