<section [classList]="'w3-row fixed-bottom bg-light pb-2 '">
  @switch (methodToShowFooter) { @case ('button') {
  <app-p-usersonline
    [connected_users]="connected_users"
    [connected_DriverUsers]="connected_DriverUsers"
    [connected_TravelerUsers]="connected_TravelerUsers"
  ></app-p-usersonline>
 

  } @case ('map') {

  <div class="w3-row w3-col w3-container"> 
    <h4 class=" w3-col">{{address}}</h4>
    <p class=" w3-col">{{distance}}</p>


  </div>

  <app-p-map></app-p-map>

  } }
</section>
