<div class="w3-row w3-col">
  <ul class="w3-row w3-col d-flex nav nav-tabs" id="myTab" role="tablist">
    <li class="w3-col s4 nav-item w3-btn border-0" role="presentation">
      <a 
      routerLink="/traveler/travel-request"
      routerLinkActive="active"
      ariaCurrentWhenActive="page" 
        type="button" 
        class="btn border-0 bg-transparent text-white"
      >
        <i class="fs-1 fa fa-location-dot fa-2"></i>
        Mapa
      </a>
    </li>
    <li class="w3-col s4 nav-item w3-btn border-0" role="presentation">
      <a
      routerLink="/traveler/travel-history"
      routerLinkActive="active"
      ariaCurrentWhenActive="page" 
        class="btn border-0 bg-transparent text-white"
        type="button"
      >
        <i class="fs-1 fa fa-briefcase fa-2"></i>
        Mis Viajes
      </a>
    </li>
    <li class="w3-col s4 nav-item w3-btn border-0" role="presentation">
      <a
      routerLink="/traveler/travel-alerts"
      routerLinkActive="active"
      ariaCurrentWhenActive="page" 
        class="btn border-0 bg-transparent text-white"
        type="button"
      >
        <i class="fs-1 fa fa-bell fa-2"></i>
        Alerta
      </a>
    </li>
  </ul>
</div>
