<div
  (click)="hideFooter()"
  class="w3-animate-opacity w3-row w3-col position-relative set-height-100"
  style="background-color: #212223b0"
></div>

<div class="w3-row w3-col w3-container pb-3 bg-dark">
  <h4 class="w3-col l10 m10 s10 text-secondary">{{ address }}</h4>
  <i
    class="w3-col l2 m2 s2 fa fa-2x fa-location-dot mt-3 text-center text-warning"
  ></i>
  <!-- <p class=" w3-col">{{distance}}</p> -->
</div>
<!--  -->
<div class="w3-row w3-col w3-container bg-dark border-top border-warning">
  <h4 class="w3-col l10 m10 s10 text-secondary">Tus Marcadores</h4>
  <i
    class="w3-col l2 m2 s2 fa fa-2x fa-flag-checkered mt-3 text-center text-warning"
  ></i>
  <!-- <p class=" w3-col">{{distance}}</p> -->
</div>

<div class="w3-row w3-col bg-dark set-height-s-40 w3-container d-flex">
  @if (favoriteMarkers.length == 0) {
  <!-- elemento -->
  <div class="w-100 d-flex align-items-center mr-3">
    <h4 class="text-warning opacity-25 container w3-section">
      No se encontraron marcadores
    </h4>
  </div>
  }@else {

  <ul class="w3-row w3-col w3-ul">
    @for (item of favoriteMarkers; track $index) {

    <li  (click)="selectPlace(item.coordinates); hideFooter()" class="w3-col button d-flex align-items-center mr-3 border-bottom border-white mb-1">
      <!-- elemento -->
      <div class="w3-col l10 m10 s10">
        <h4 class="text-warning container w3-section">{{ item.name }}</h4>
        <p class="text-warning container w3-section">{{ item.address }}</p>
      </div>
      <div class="w3-col l1 m1 s1">
        <i class="fa fa-2x fa-location-dot text-warning"></i>
      </div>
    </li>
    }
  </ul>

  }
</div>

<div
  [classList]="'w3-row w3-col panel bg-dark h-auto border-top border-warning'"
>
  <div class="w3-row w3-col">
    <div class="w3-row w3-col _center-h">
      

      <button
        type="button"
        class="w3-col m6 s6 btn btn-lg text-secondary rounded-0 p-0 w3-left"
        (click)="hideFooter()"
      >
        <label class="w3-col w3-section m-0 p-0 w3-large">Cancelar</label>
        <i class="fa fa-cancel fa-2x"></i>
      </button>
    </div>
  </div>
</div>
