<section class="w3-row w3-col mt-15">
  <!-- Cambio aqui -->
  @if(viewToShow == 'map' && (!location_status || !socket_status)){

  <div
    [class]="
      (!location_status
        ? 'panel-error-connection-gps set-height-87'
        : 'panel-error-connection-') +
      ' align-content-between w-100 position-absolute '
    "
    style="z-index: 2"
  >
    @if(!socket_status && location_status){
    <!-- <label
      class="w3-col w3-container border-top border-bottom border-dark text-white w3-xlarge bg-danger"
      style="height: 10px"
    >
    </label> -->
    <label
      class="panel-error-connection w3-col w3-container border-top border-bottom border-dark bg-danger w3-xlarge _center-h"
    >
      conectando ..
      <span
        class="btn btn-sm btn-primary spinner-border spinner-border-sm"
      ></span>
    </label>

    } @switch (max_count) { @case(0){} @case(-1){

    <label
      class="panel-error-connection w3-col w3-container border-top border-bottom border-dark text-white w3-xlarge text-center rounded-3"
      (click)="reload_location()"
    >
      Hmm, parece que tenemos problemas para detectar tu ubicación. ¿Podrías
      verificar que tu GPS esté habilitado? <br />
      <a class="btn btn-warning text-text-dark fw-bold">Reintentar <i class="fa fa-rotate-back"></i></a>
      
    </label>

    } @default{

    <label
      class="panel-error-connection w3-col w3-container border-top border-bottom border-dark bg-danger w3-xlarge _center-h"
    >
      obteniendo ubicación ..
      <span
        class="btn btn-sm btn-primary spinner-border spinner-border-sm"
      ></span>
    </label>

    } }
  </div>

  }

  <!-- -------------- -->
  <!-- content page -->
  <!-- -------------- -->
   
      <div class="w3-row w3-col set-height-s-87 border border-dark">
        <!-- -------------- -->
        <!-- Body page -->
        <!-- -------------- -->
        @if(viewToShow == 'map'){
        <app-map-page
          [lat]="lat"
          [lon]="lon"
          [zoom]="zoom"
          [width]="'100%'"
          [height]="'87vh'"
          [socket_status]="socket_status"
          [location_status]="location_status"
          [connected_users]="connected_users"
          [userData]="userData"
          [favoriteMarkers]="favoriteMarkers"
        ></app-map-page>
        } @else if(viewToShow == 'form'){
        
          <app-form-page
          [favoriteMarkers]="favoriteMarkers"
          [userData]="userData"
          ></app-form-page>

        }
        
      </div>
     
</section>
