<header
  id="header"
  [class]="
    ' position-absolute w3-row w3-col l12 m12 s12 set-height-15 bg-dark border-bottom border-warning border-1 '
  "
>
  <nav [class]="'navbar navbar-expand-sm navbar-dark pt-sm-0 '">
    <div [class]="'w3-col l12 m12 s12 container-fluid '">
      <div [class]="'w3-col l3 m2 s12 '">
        <a [class]="'navbar-brand '" href="#">
          <!-- <img
            src="./assets/img/linki.ico"
            alt=""z
            [class]="' img-logo-xmd rounded-3 p-1'"
          /> -->

          <label class="fw-bolder">{{ titleApp }}</label>
        </a>

        <!-- ---------------- -->
        <!-- Verificar tipo de usuario conectado -->
        <!-- ---------------- -->
        @if(userData.user_type == 'traveler'){

        <i class="fa fa-person fa-1x text-white"></i>

        }@else if (userData.user_type == 'driver') {

        <i class="fa fa-driver fa-1x text-white"></i>

        }@else if (userData.user_type == 'admin') { } @else {
        <i class="fa fa-user fa-1x text-white"></i>
        }

        <button
          [class]="
            'navbar-toggler w3-right btn btn-md text-light border border-secondary animated__fadeIn ms-1'
          "
          type="button"
          (click)="toggleIcon()"
        >
          @switch (isActive) { @case (true) {
          <i [class]="'fa fa-times fa-1x  fadeIn'"></i>
          } @default {
          <i [class]="'fa fa-user fa-1x fadeIn '"></i>
          } }
        </button>

        <button
          [class]="
            'navbar-toggler w3-right btn btn-md text-success border-end-0 border-start-0 border-top-0 border-secondary animated__fadeIn '
          "
          (click)="shareApp('')"
        >
          <i [class]="'fa fa-share-alt me-2 '"></i>
        </button>

        <button
          [class]="
            'navbar-toggler w3-right btn btn-md text-light border-end-0 border-start-0 border-top-0 border-secondary animated__fadeIn '
          "
        >
          <i [class]="'fa fa-bell me-2 '"></i>
        </button>
        <!-- <button
          [class]="
            'navbar-toggler w3-right btn btn-dark text-white animated__fadeIn me-sm-2'
          "
          type="button"
          (click)="toggleFullscreen()"
        >
          <i [class]="'fa fa-mobile-phone '"></i>
        </button> -->
      </div>
      <div [class]="'w3-row w3-col w3-section l9 m8 s12 '">
        <!-- -------- -->
        <!-- -------- -->
        <!-- -------- -->

        <div [class]="'w3-col w3-section '" id="Navbar">
          @if(isActive){

          <ul [class]="'w3-col w3-section navbar-nav p-1 justify-content-end '">
            @if(!userLoginOn){

            <!-- -------- -->
            <!-- -------- NO LOGIN USER -->
            <!-- -------- -->
            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="'nav-link fw-bold border-bottom border-secondary'"
                routerLink="/public/home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Inicio</a
              >
            </li>
            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="'nav-link fw-bold border-bottom border-secondary '"
                routerLink="/session/signin"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                data-bs-toggle="tooltip"
                title="Mostrar opciones de sesión!"
                >Sesión</a
              >
            </li>

            <!-- -------- -->
            <!-- -------- NO LOGIN USER -->
            <!-- -------- -->
            } @else{

            <!-- -------- -->
            <!-- -------- LOGIN USER -->
            <!-- -------- -->

            <!-- ---------------- -->
            <!-- Verificar tipo de usuario conectado -->
            <!-- ---------------- -->

            @if(userData.user_type =='traveler' ){

            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="'nav-link fw-bold border-bottom border-secondary'"
                routerLink="/private/home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Inicio</a
              >
            </li>

            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="'nav-link fw-bold border-bottom border-secondary '"
                routerLink="/traveler/travel-request"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Mapa Traveler
              </a>
            </li>

            }@else if (userData.user_type == 'driver') {

            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="'nav-link fw-bold border-bottom border-secondary '"
                routerLink=""
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Mapa Driver</a
              >
            </li>

            }@else if (userData.user_type == 'admin') { }

            <li [class]="'nav-item btn btn-sm w3-row '">
              <button [class]="'w3-col btn text-white'" (click)="f_signOut()">
                <i [class]="'fa fa-sign-out-alt me-2 float-sm-start'"></i>
                <label
                  [class]="
                    'w3-small float-sm-start w3-hide-medium w3-hide-large'
                  "
                  for=""
                  >Cerrar Sesión</label
                >
              </button>
            </li>

            <!-- -------- -->
            <!-- -------- LOGIN USER -->
            <!-- -------- -->
            }
          </ul>

          }
        </div>
      </div>
    </div>
  </nav>

  @if (userData.user_type == 'traveler') {

  <!-- -------- -->
  <!-- -------- NAVBAR Traveler -->
  <!-- -------- -->
  <app-navbar-traveler></app-navbar-traveler>
  <!-- -------- -->
  <!-- -------- NAVBAR Traveler -->
  <!-- -------- -->

  }@else if(userData.user_type == 'driver'){ }
</header>
