<header
  id="header"
  [class]="
    'set-height-8 position-absolute w3-row w3-col l12 m12 s12 bg-dark '
  "
>
  <nav [class]="'navbar navbar-dark pt-sm-0 '">
    <div [class]="'w3-col l12 m12 s12 container-fluid '">
      <div [class]="'w3-col'">
        @if(!isActive){
        <a [class]="'navbar-brand '" href="#">
          <!-- <img
            src="./assets/img/linki.ico"
            alt=""z
            [class]="' img-logo-xmd rounded-3 p-1'"
          /> -->

          <label class="fw-bolder">{{ titleApp }}</label>
        </a>
        }
        <!-- ---------------- -->
        <!-- Verificar tipo de usuario conectado -->
        <!-- ---------------- -->
        @if(userData.user_type == 'traveler'){

        <i class="fa fa-person fa-1x text-white"></i>

        }@else if (userData.user_type == 'driver') {

        <i class="fa fa-driver fa-1x text-white"></i>

        }@else if (userData.user_type == 'admin') { } @else {
        <i class="fa fa-user fa-1x text-white"></i>
        }

        <button
          [class]="
            'animated__fadeIn btn btn-md ms-1  text-light w3-circle ps-2 pe-2 w3-right'
          "
          type="button"
          (click)="toggleIcon()"
        >
          @switch (isActive) { @case (true) {
          <i [class]="'w3-xlarge fa fa-times fs fadeIn'"></i>
          } @default {
          <i [class]="'w3-xlarge fa fa-user fadeIn '"></i>
          } }
        </button>

        @if(!isActive){
        <button
          [class]="'w3-btn border-0 navbar-toggler text-primary w3-right fs-5'"
          (click)="shareApp('')"
        >
          <i [class]="'w3-xlarge fa fa-share-alt me-2 '"></i>
        </button>

        <button
          [class]="'w3-btn border-0 navbar-toggler text-success w3-right fs-5'"
        >
          <i [class]="'w3-xlarge fa fa-headset me-2 '"></i>
        </button>

        }
      </div>
      <div [class]="'w3-row w3-col w3-section '">
        <!-- -------- -->
        <!-- -------- -->
        <!-- -------- -->

        <div [class]="'w3-col w3-section '" id="Navbar">
          @if(isActive){

          <ul [class]="'w3-col w3-section navbar-nav p-1 justify-content-end '">
            @if(!userLoginOn){

            <!-- -------- -->
            <!-- -------- NO LOGIN USER -->
            <!-- -------- -->
            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="'nav-link fw-bold'"
                routerLink="/public/home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Inicio</a
              >
            </li>
            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="'nav-link fw-bold '"
                routerLink="/session/signin"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                data-bs-toggle="tooltip"
                title="Mostrar opciones de sesión!"
                >Sesión</a
              >
            </li>

            <!-- -------- -->
            <!-- -------- NO LOGIN USER -->
            <!-- -------- -->
            } @else{

            <!-- -------- -->
            <!-- -------- LOGIN USER -->
            <!-- -------- -->

            <!-- ---------------- -->
            <!-- Verificar tipo de usuario conectado -->
            <!-- ---------------- -->

            @if(userData.user_type =='traveler' ){

            <!-- -------------- -->
            <!-- INFORMACION DE PERFIL TRAVELER-->
            <!-- -------------- -->
            <li [class]="'nav-item w3-row w3-col w3-container'">
              <div class="w3-row w3-col l3 m3 s2 w3-section">
                <i class="fa fa-user-circle fa-3x text-secondary"></i>
              </div>
              <div class="w3-row w3-col l9 m9 s10 w3-container">
                <h5 class="w3-col">{{ userData.name }}</h5>
                <div class="w3-row w3-col">
                  <span class="fw-bold w3-medium pe-2">{{ userData.email }}</span>
                  
                </div>
                
              </div>
            </li>


            }
            @else if (userData.user_type == 'driver') {

            <!-- -------------- -->
            <!-- INFORMACION DE PERFIL DRIVER -->
            <!-- -------------- -->
            <li [class]="'nav-item w3-row w3-col w3-container'">
              <div class="w3-row w3-col l3 m3 s2 w3-section">
                <i class="fa fa-user-circle fa-3x text-secondary"></i>
              </div>
              <div class="w3-row w3-col l9 m9 s10 w3-container">
                <h5 class="w3-col">{{ userData.name }}</h5>

                <div class="w3-row w3-col">
                  <span class="fw-bold w3-xlarge pe-2">{{ rating }}</span>
                  @for (item of rating_start; track $index) {

                  <i class="fa fa-1x fa-star w3-text-yellow"></i>

                  }
                </div>
              </div>
            </li>

            }@else if (userData.user_type == 'admin') { }

            <li [class]="'nav-item btn btn-md mt-2 '">
              <a
                (click)="toggleIcon()"
                [class]="
                  'text-start nav-link fw-bold border-bottom border-secondary'
                "
                ><i class="fa fa-cogs fa-3x"></i> Configuración</a
              >
            </li>

            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="
                  'text-start nav-link fw-bold '
                "
                ><i class="fa fa-thumbs-up fa-3x"></i> Nuestras Redes Sociales
              </a>
            </li>

            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="
                  'text-start nav-link fw-bold '
                "
                ><i class="fa fa-question-circle fa-3x"></i> Ayuda
              </a>
            </li>

            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="
                  'text-start nav-link fw-bold '
                "
                ><i class="fa fa-exclamation-circle fa-3x"></i> Acerca de Linki
              </a>
            </li>

            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="toggleIcon()"
                [class]="
                  'text-start nav-link fw-bold '
                "
                ><i class="fa fa-exclamation-triangle fa-3x"></i> Reportar un
                problema
              </a>
            </li>

            <li [class]="'nav-item btn btn-md '">
              <a
                (click)="f_signOut(); toggleIcon()"
                [class]="
                  'text-start text-danger nav-link fw-bold '
                "
                ><i class="fa fa-sign-out fa-3x"></i> Cerrar Sesión
              </a>
            </li>

            <!-- -------- -->
            <!-- -------- LOGIN USER -->
            <!-- -------- -->
            }
          </ul>

          }
        </div>
      </div>
    </div>
  </nav>
</header>

@if (userLoginOn) {
<header
  id="header_"
  [class]="
    ' position-absolute w3-row w3-col l12 m12 s12 bg-dark '
  "
>
  @if (userData.user_type == 'traveler') {

  <!-- -------- -->
  <!-- -------- NAVBAR Traveler -->
  <!-- -------- -->
  <app-navbar-traveler></app-navbar-traveler>
  <!-- -------- -->
  <!-- -------- NAVBAR Traveler -->
  <!-- -------- -->

  }@else if(userData.user_type == 'driver'){ }
</header>

}
