<div
  [classList]="
    'w3-row w3-col panel bg-dark h-auto set-height-s-30'
  "
>
  <div class=" w3-row w3-col w3-section">
    
    <div class="w3-row w3-col w3-container">
      <button
        type="button"
        class="btn btn-sm btn-warning p-0 border border-warning w3-left"
      >
        <label class="w3-col m-0 p-0 w3-medium">Guardar Destino</label>
        <i class="fa fa-flag fa-1"></i>
      </button>

      <button
        type="button"
        class="btn btn-sm btn-warning p-0 border border-warning w3-right"
      >
        <label class="w3-col m-0 p-0 w3-medium">Nuevo Viaje</label>
        <i class="fa fa-route fa-1"></i>
      </button>

    </div>
  </div>
</div>
